@model Room

<h2>Oda oluştur</h2> @* hotel başlığı *@
<hr> @*çizgi*@
<form asp-controller="Room" asp-action="Create" method="post">

	<div class="mb-3">                                        
		<label asp-for="room_name" class="form-label">Oda Adı</label>
		<input asp-for="room_name" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="room_price" class="form-label">Fiyat</label>
		<input asp-for="room_price" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="room_quantity" class="form-label">Adet</label>
		<input asp-for="room_quantity" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="room_capacity" class="form-label">Oda Büyüklüğü</label>
		<input asp-for="room_capacity" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="room_image" class="form-label">Görsel</label>
		<input asp-for="room_image" class="form-control" />
	</div>

	<div class="mb-3">
	<label asp-for="hotel_id" class="form-label">Hotel No</label>
	<input asp-for="hotel_id" class="form-control" />
	</div>

	<button type="submit" class="btn btn-secondary">Kaydet</button>


</form>