@model Room

@{
	var hotels = ViewBag.Hotels as List<Hotel>;
}

<h2>Oda Güncelle</h2> @* hotel başlığı *@
<hr> @*çizgi*@
<form asp-controller="Room" asp-action="Edit" method="post">

	<input type="hidden" asp-for="room_id">
	<div class="mb-3">
		<label asp-for="room_name" class="form-label">Oda adı</label>
		<input asp-for="room_name" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="room_price" class="form-label">Fiyatı</label>
		<input asp-for="room_price" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="room_quantity" class="form-label">Oda miktarı</label>
		<input asp-for="room_quantity" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="room_max_people" class="form-label">Odada kalacak maksimum kişi sayısı</label>
		<input asp-for="room_max_people" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="room_capacity" class="form-label">Oda büyüklüğü</label>
		<input asp-for="room_capacity" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="room_image" class="form-label">Oda görseli</label>
		<input asp-for="room_image" class="form-control" />
	</div>
@* 	<div class="mb-3">
		<label asp-for="hotel_id" class="form-label">hotel ad</label>
		<select id="hotel_id" name="hotel_id" class="form-control"> 
			@foreach (var hotel in hotels)
			{
				<option value="@hotel.hotel_id">@hotel.hotel_name</option>
			}

		</select>
	</div> *@

	<button type="submit" class="btn btn-secondary">Kaydet</button>




</form>