@model Tatilse.Data.Hotel

@{
    ViewData["Title"] = "Hotel Ekle";
}

<h2>Hotel Ekle</h2>
<hr>

<form asp-controller="Admin" asp-action="HotelCreate" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="hotel_name" class="form-label">Hotel Adı</label>
        <input asp-for="hotel_name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="hotel_city" class="form-label">Hotel İl</label>
        <input asp-for="hotel_city" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="hotel_township" class="form-label">Hotel İlçe</label>
        <input asp-for="hotel_township" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="hotel_price" class="form-label">Hotel Fiyatı</label>
        <input asp-for="hotel_price" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="hotel_description" class="form-label">Hotel Açıklaması</label>
        <input asp-for="hotel_description" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Hotel Fotoğrafı</label>
        <input id="image" name="imageFile" type="file" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Özellikler</label>
        <select asp-for="SelectedFeatureIds" asp-items="ViewBag.Features" class="form-control" multiple></select>
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>
