@model Hotel

<h2>Hotel Güncelle</h2> @* hotel başlığı *@
<hr> @*çizgi*@
<form onsubmit="edit(event)">

	<input type="hidden" asp-for="hotel_id">
	<div class="mb-3">
		<label asp-for="hotel_name" class="form-label">Hotel Adı</label>
		<input asp-for="hotel_name" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="hotel_price" class="form-label">Hotel Fiyatı</label>
		<input asp-for="hotel_price" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="hotel_city" class="form-label">Hotel İl</label>
		<input asp-for="hotel_city" class="form-control" />
	</div>	<div class="mb-3">
		<label asp-for="hotel_township" class="form-label">Hotel İlçe</label>
		<input asp-for="hotel_township" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="hotel_description" class="form-label">Hotel Açıklaması</label>
		<input asp-for="hotel_description" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="hotel_image" class="form-label">Hotel Fotoğrafı</label>
		<input type="file" asp-for="hotel_image" class="form-control" />
	</div>

	<a href=""></a>
	<button type="submit" class="btn btn-secondary">Kaydet</button>
</form>


<script>
	function edit(event){
		event.preventDefault();
		const formData = new FormData(event.currentTarget);
		debugger;
		fetch("/Admin/HotelEdit", {
			body: formData,
			method: "POST"
		}).then(res=>{
			alert("işlem başarılı");
		})
		.catch(error=>{
			alert(error);
		});
	}
</script>