@model Reservation

<h2>Rezervasyon Yap</h2>
<hr>
<form asp-controller="Admin" asp-action="ReservationCreate" method="post">
    <div class="mb-3">
        <label asp-for="client_id" class="form-label">Müşteri id</label>
        <input asp-for="client_id" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="room_id" class="form-label">Room id</label>
        <input asp-for="room_id" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="start_date" class="form-label">Giriş Tarihi</label>
        <input asp-for="start_date" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="end_date" class="form-label">Çıkış Tarihi</label>
        <input asp-for="end_date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>
