@model Hotel

<h2>Hotel Güncelle</h2> @* hotel başlığı *@
<hr> @*çizgi*@
<form asp-controller="Hotel" asp-action="Edit" method="post">

	<input type="hidden" asp-for="hotel_id"> 
	<div class="mb-3">                                        
		<label asp-for="hotel_name" class="form-label">Hotel Adı</label>
		<input asp-for="hotel_name" class="form-control"/>
	</div>
	<div class="mb-3">
		<label asp-for="hotel_price" class="form-label">Hotel Fiyatı</label>
		<input asp-for="hotel_price" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="hotel_description" class="form-label">Hotel Açıklaması</label>
		<input asp-for="hotel_description" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="hotel_image" class="form-label">Hotel Fotoğrafı</label>
		<input asp-for="hotel_image" class="form-control" />
	</div>

	<a href=""></a>
	<button type="submit" class="btn btn-secondary">Kaydet</button>




</form>