@{
    ViewData["Title"] = "Tatil bizden sorulur!";
}

<h2>Hoşgeldiniz!</h2>

@if (ViewBag.UserGender == "female")
{
    <div class="advertisement">
        <a href="https://www.ornek-reklam-linki.com" target="_blank" rel="noopener noreferrer">
            <img src="~/img/advertisement.jpg" alt="Reklam Banner" class="img-fluid rounded mb-3" />
        </a>
    </div>
}
