@{
    ViewData["Title"] = "Tatil bizden sorulur!";
}

<h2>Hoşgeldiniz!</h2>

@if (ViewBag.ShowAd)
{
    <div class="alert alert-info mt-3">
        Kadınlara özel kampanya: %50 indirim!
    </div>
}

