@model Client

<h2>Üye ol</h2> @* hotel başlığı *@
<hr> @*çizgi*@
<form asp-controller="Client" asp-action="Create" method="post">

	<div class="mb-3">                                        
		<label asp-for="client_name" class="form-label">Ad</label>
		<input asp-for="client_name" class="form-control"/>
	</div>
	<div class="mb-3">
	<label asp-for="client_surname" class="form-label">Soyad</label>
	<input asp-for="client_surname" class="form-control" />
	</div>

	<div class="mb-3">
	<label asp-for="client_birthdate" class="form-label">Doğum Tarihi</label>
	<input asp-for="client_birthdate" class="form-control" />
	</div>

	<div class="mb-3">
	<label asp-for="client_identity" class="form-label">Kimlik Numarası</label>
	<input asp-for="client_identity" class="form-control" />
	</div>
	<div class="mb-3">
	<label asp-for="client_phone" class="form-label">Telefon Numarası</label>
	<input asp-for="client_phone" class="form-control" />
	</div>

	<div class="mb-3">
	<label asp-for="client_email" class="form-label">E posta</label>
	<input asp-for="client_email" class="form-control" />
	</div>

	<button type="submit" class="btn btn-secondary">Kaydet</button>


</form>