@model Client

<p>
	<b>@Model.client_name</b> isimli müşteriyi silmek istiyor musunuz?
</p>
<form asp-action="Delete" method="post">
	<input type="hidden" name="id" value="@Model.client_id" />
	<button type="submit" class="btn btn-danger">Evet</button>
	<a asp-action="Index" class="btn btn-primary">Hayır</a>
</form>
